<h1>List of matches of the day</h1>

<hr>

<h2 class="text-center">List of all users</h2>


<table class="table table-striped text-center">
  <thead class="thead-inverse">
  <tr>
    <th  class="text-center">User</th>
    <th class="text-center">Email</th>
    <th class="text-center">Admin</th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
  <tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.admin %></td>
  </tr>
  <% end %>
</tbody>
</table>
