<h1>All Matches</h1>
<table class="table">
  <tr id="matches">
    <th>Date</th>
    <th>Student1</th>
    <th>Student2</th>
  </tr>
  <% @matches.each do |match| %>
    <tr id="match">
      <td><%= match.date %></td>
      <td><%= match.student1 %></td>
      <td><%= match.student2 %></td>
    </tr>
  <% end %>
</table>
