<div class="container text-center" id="welcome">
  <h1>Welcome, <%= current_user.name %></h1>
  <h2><br>Your match of today is <br> <%= @get_other %></h2>
</div>

<hr>

<div class="container text-center">
  <h2 data-toggle="collapse" >History of matches</h2>
  <table class="table table-striped">
    <tr id="matches">
      <th class="text-center">Date</th>
      <th class="text-center">Match</th>
    </tr>
    <% @previous_matches.each do |match| %>
      <tr id="match">
        <td ><%= match.date %></td>
        <td ><%= User.get_names(match.student2).join('') %></td>
      </tr>
    <% end %>
  </table>
</div>
