<div class="jumbotron text-center">
<h1>Welcome by CodaMatch</h1>
</div>
<% if !current_user %>
  <%= link_to "Register", new_user_registration_path, class: "btn btn-lg btn-success" %>
<% elsif current_user.try(:admin?) %>
  <%= render 'users/admin' %>
<% else %>
  <%= render 'users/user' %>
<% end %>
